In [12]:
import pymongo
import os
import pandas as pd
from datetime import datetime, timedelta

client = pymongo.MongoClient(f"mongodb+srv://nailbiter:{os.environ['MONGO_PASS']}@cluster0.gaq9o.mongodb.net/<dbname>?authSource=admin&replicaSet=atlas-1372ty-shard-0&w=majority&readPreference=primary&appname=MongoDB%20Compass&retryWrites=true&ssl=true")

In [19]:
%%time
money_df = pd.DataFrame(client.logistics["alex.money"].find())

CPU times: user 79.8 ms, sys: 19.9 ms, total: 99.7 ms
Wall time: 1.83 s

In [17]:
START_DATE = datetime(2021,8,18)

In [20]:
money_df[[d>=START_DATE for d in money_df.date]].query("amount>80000")

,_id,amount,category,date,comment,tags
4950,6132f7ee9b57fb45ca9687ef,82586.0,food,2021-09-04 04:37:02.219,,[dolg]
4957,61346dbd9b57fb45ca96885c,82701.0,food,2021-09-05 07:11:57.601,,[dolg]
4971,61360f2b9b57fb45ca9688e6,82701.0,food,2021-09-06 12:52:59.787,,[dolg]
5015,61444ee89b57fb5bb396c342,82619.0,food,2021-09-09 20:47:00.000,,"[dolg, mufg]"
5016,61444f019b57fb5bb396c343,82634.0,food,2021-09-12 13:23:00.000,,"[dolg, mufg]"

In [38]:
df = money_df.copy()
df = df[[d>=START_DATE for d in df.date]].query("category=='food'")
df = df[["dolg" in t for t in df.tags]]
dolg_df = df.copy()
print(_dolg_df.amount.sum())
dolg_df

425940.0

,_id,amount,category,date,comment,tags
4889,611cb7689b57fb3647e9755b,4048.0,food,2021-08-18 07:31:52.751,,[dolg]
4930,612c7efa9b57fb45ca968596,8651.0,food,2021-08-30 06:47:22.495,,"[dolg, mufg]"
4950,6132f7ee9b57fb45ca9687ef,82586.0,food,2021-09-04 04:37:02.219,,[dolg]
4957,61346dbd9b57fb45ca96885c,82701.0,food,2021-09-05 07:11:57.601,,[dolg]
4971,61360f2b9b57fb45ca9688e6,82701.0,food,2021-09-06 12:52:59.787,,[dolg]
5015,61444ee89b57fb5bb396c342,82619.0,food,2021-09-09 20:47:00.000,,"[dolg, mufg]"
5016,61444f019b57fb5bb396c343,82634.0,food,2021-09-12 13:23:00.000,,"[dolg, mufg]"

In [72]:
#sunday is 7
def _date_to_week(d):
    return d.isocalendar().week

_df = money_df.copy()
_df["week"] = _df.date.apply(_date_to_week)
_df = _df.query(f"{dolg_df.date.max().isocalendar().week}>=week>={START_DATE.isocalendar().week-2}")
_df = _df[[d.year==2021 for d in _df.date]]

_dolg_df = pd.DataFrame({**dolg_df,"week":dolg_df.date.apply(_date_to_week)})
_dolg_df = _dolg_df.groupby("week").sum().copy()
print(_dolg_df.amount.sum())
_dolg_df

_candyrent_df = money_df[[d>=START_DATE for d in money_df.date]]
_candyrent_df = _candyrent_df[["candyrent" in t for t in _candyrent_df.tags]].copy()
_candyrent_df["week"] = _candyrent_df.date.apply(_date_to_week)
_candyrent_df = _candyrent_df.groupby("week").sum()
_candyrent_df

_df = _df.groupby("week").agg({"date":min,"amount":sum})
_df.date = _df.date.apply(lambda d:d.date())
_df = _df.join(_dolg_df,rsuffix="_dolg").join(_candyrent_df,rsuffix="_candyrent").fillna(0)
_df
_df.amount = _df.amount - (_df.amount_dolg+_df.amount_candyrent)
_df.loc[:,["amount","date"]]

425940.0

       amount        date
week
31    23121.0  2021-08-02
32    51725.0  2021-08-09
33    33424.0  2021-08-16
34    70127.0  2021-08-23
35    45429.0  2021-08-30
36    70642.0  2021-09-06

In [73]:
_df.amount.sum()-40000*len(_df)

54468.0