In [1]:
import pandas as pd
from pymongo import MongoClient
import os
from pytz import timezone
from bson.codec_options import CodecOptions
from datetime import datetime

In [2]:
mongo_pass = os.environ["MONGO_PASS"]
mongo_pass = f"mongodb+srv://nailbiter:{mongo_pass}@cluster0.gaq9o.mongodb.net/logistics?authSource=admin&replicaSet=atlas-1372ty-shard-0&w=majority&readPreference=primary&appname=MongoDB%20Compass&retryWrites=true&ssl=true"

In [3]:
def process_coll(coll):
    return coll.with_options(codec_options=CodecOptions(tz_aware=True,tzinfo=timezone('Asia/Tokyo')))
#     return coll

In [4]:
client = MongoClient(mongo_pass)
notes_df = pd.DataFrame(process_coll(client.logistics["alex.notes"]).find())

In [28]:
sleep_df = pd.DataFrame(process_coll(client.logistics["alex.sleepingtimes"]).find({"category":"sleeping"}))
# sleep_df["date"] = sleep_df["startsleep"].apply(lambda d:d.strftime("%Y-%m-%d"))
sleep_df = sleep_df[[(not pd.isna(ss)) and (not pd.isna(es)) for ss,es in zip(sleep_df.startsleep,sleep_df.endsleep)]]

In [41]:
_df = notes_df.copy()
_df = _df[["pressure" in content for content in _df.content]]
_df = _df.sort_values(by="date")
_df = _df.tail(14)
_df = _df.drop(columns=["_id"])
_df = _df.to_dict(orient="records")
_df = pd.DataFrame([
    {**{f"start_{k}":v for k,v in _df[i].items()}, **{f"end_{k}":v for k,v in _df[i+1].items()}}
    for i
    in range(0,len(_df),2)
])

# _df["day_of_week"] = _df["date"].apply(lambda d:"mon tue wed thu fri sat sun".split(" ")[d.weekday()])
for fn in "start end".split(" "):
    _df["date"] = _df[f"{fn}_date"].apply(lambda d:d.strftime("%Y%m%d"))
    _df = _df.set_index("date")
    opposite_fn = 'start' if fn=='end' else 'end'
    df_ = pd.DataFrame([{"date":d.strftime("%Y%m%d"),f"{opposite_fn[0]}s":d} for d in sleep_df[f"{opposite_fn}sleep"]])
    _df = _df.join(df_.set_index("date"),how="left")
    _df = _df.reset_index().drop(columns=["date"])

for fn in "start_content end_content".split(" "):
    _df[fn] = _df[fn].apply(lambda s:list(map(int,filter(lambda s:s!="#pressure",s.split(" ")))))
    for i,fn_ in enumerate("upper lower pulse".split(" ")):
        _df[f"{fn.split('_')[0]}_{fn_}"] = _df[fn].apply(lambda l:l[i])
    _df = _df.drop(columns=[fn])
_df.to_csv("/tmp/0f64e79c3f95f45f14ee28e0.csv")
_df

,start_date,end_date,es,ss,start_upper,start_lower,start_pulse,end_upper,end_lower,end_pulse
0,2020-12-28 08:03:41.240000+09:00,2020-12-29 01:45:42.032000+09:00,2020-12-28 10:38:49.468000+09:00,2020-12-29 01:42:31.321000+09:00,132,62,51,140,63,56
1,2020-12-29 12:18:17.680000+09:00,2020-12-30 04:59:17.529000+09:00,2020-12-29 12:18:20.723000+09:00,2020-12-30 04:56:17.136000+09:00,147,70,49,143,61,60
2,2020-12-30 11:48:46.347000+09:00,2020-12-31 01:14:34.035000+09:00,2020-12-30 12:39:32.272000+09:00,2020-12-31 00:41:24.796000+09:00,131,62,46,146,75,61
3,2020-12-31 12:12:51.768000+09:00,2021-01-01 00:08:44.825000+09:00,2020-12-31 12:13:05.223000+09:00,2021-01-01 00:25:58.285000+09:00,140,71,59,135,55,68
4,2021-01-01 07:35:59.223000+09:00,2021-01-02 01:28:17.091000+09:00,2021-01-01 15:23:23.485000+09:00,2021-01-02 01:28:41.519000+09:00,140,66,42,131,79,59
5,2021-01-01 07:35:59.223000+09:00,2021-01-02 01:28:17.091000+09:00,2021-01-01 15:23:23.485000+09:00,2021-01-02 23:59:52.684000+09:00,140,66,42,131,79,59
6,2021-01-02 13:54:13.429000+09:00,2021-01-03 00:20:54.801000+09:00,2021-01-02 13:52:27.861000+09:00,NaT,139,68,53,143,67,58
7,2021-01-10 13:37:15.509000+09:00,2021-01-11 02:30:44.098000+09:00,2021-01-10 13:21:21.928000+09:00,2021-01-11 02:29:19.520000+09:00,150,77,50,145,72,52