In [6]:
import pymongo
import pandas as pd
from pytz import timezone
from bson.codec_options import CodecOptions
import matplotlib.pyplot as plt
from pymongo import MongoClient
%matplotlib inline

#global const's
WEEKS = 8
TIMESTAMPS_PER_HOUR = 2
#global var's
local_client = MongoClient('localhost', 27017)
coll = local_client.admin.passwords
doc = coll.find_one({"key":"MONGOMLAB"})
mongopass = doc["value"]

In [5]:
client = MongoClient(f"mongodb://nailbiter:{mongopass}@ds149672.mlab.com:49672/logistics")
timecoll = client.logistics["alex.time"].with_options(codec_options=CodecOptions(tz_aware=True,tzinfo=timezone('Asia/Tokyo')))
money_df = pd.DataFrame(timecoll.find().sort("date", pymongo.DESCENDING))
money_df

                            _id                             date  category
0      5efbf736456e533ff3cb8821 2020-07-01 11:38:46.094000+09:00  parttime
1      5efbee2e456e533ff3cb881d 2020-07-01 11:00:14.993000+09:00  parttime
2      5efbe797456e533ff3cb8818 2020-07-01 10:32:07.033000+09:00  parttime
3      5efbe1d2456e533ff3cb880d 2020-07-01 10:07:30.242000+09:00  parttime
4      5efbe010456e533ff3cb880c 2020-07-01 10:00:00.019000+09:00       gym
...                         ...                              ...       ...
31653  5b965ce6a69b5b41770f3043 2018-09-10 21:00:38.524000+09:00       gym
31654  5b9655f0a69b5b41770f3042 2018-09-10 20:30:56.860000+09:00       gym
31655  5b964f19a69b5b41770f3041 2018-09-10 20:01:45.280000+09:00       gym
31656  5b964830a69b5b41770f3040 2018-09-10 19:32:16.122000+09:00       gym
31657  5b9643afa69b5b41770f303f 2018-09-10 19:13:03.829000+09:00       gym

[31658 rows x 3 columns]

In [10]:
import pandas as pd
time_df = pd.DataFrame([r for r in money_df.to_dict(orient="records") if (r["date"].date().year,r["date"].date().month)==(2020,6)])

In [43]:
import pandas as pd
from datetime import datetime

_FORMAT = "%Y-%m-%d %a"
_df = pd.DataFrame([{**r,"day":r["date"].date().strftime(_FORMAT)} for r in time_df.to_dict(orient="records") if r["date"].date().isoweekday() not in [6,7]])

table = {}
for r in _df.to_dict(orient="records"):
    table[r["day"]] = table.get(r["day"],{})
    table[r["day"]][r["date"].strftime("%H:%m")] = r["category"]

_df = pd.DataFrame([
    {"date":k,"week":datetime.strptime(k,_FORMAT).isocalendar()[1],**{kk:v[kk] for kk in sorted(v.keys())}} 
    for k,v in 
    table.items()]
).set_index(["week","date"]).sort_index()
pd.DataFrame({k:v for k,v in _df.to_dict().items() if "08:00"<=k<="11:00"})

                       08:06      09:06      10:06
23 2020-06-01 Mon   parttime   parttime   parttime
   2020-06-02 Tue   sleeping     coding   parttime
   2020-06-03 Wed        gym        gym        gym
   2020-06-04 Thu  logistics  logistics   parttime
   2020-06-05 Fri   sleeping        gym   parttime
24 2020-06-08 Mon     social  logistics   parttime
   2020-06-09 Tue  logistics        gym   parttime
   2020-06-10 Wed   sleeping   sleeping   sleeping
   2020-06-11 Thu   sleeping   sleeping   sleeping
   2020-06-12 Fri   sleeping   sleeping   sleeping
25 2020-06-15 Mon  logistics        gym   parttime
   2020-06-16 Tue  logistics        gym   parttime
   2020-06-17 Wed  logistics        gym   parttime
   2020-06-18 Thu  logistics        gym   parttime
   2020-06-19 Fri   sleeping  logistics   parttime
26 2020-06-22 Mon   sleeping   sleeping   sleeping
   2020-06-23 Tue   sleeping   sleeping   sleeping
   2020-06-24 Wed   sleeping   sleeping   sleeping
   2020-06-25 Thu  logistics  logistics  logistics
   2020-06-26 Fri  logistics        gym   parttime
27 2020-06-29 Mon  logistics        gym        gym
   2020-06-30 Tue  logistics        gym   parttime